.noti {
    font-size: 2rem;
    text-align: center;
}

.exam {
    box-shadow: 0 1rem 1.5rem rgba(18, 38, 63, 0.1);
    overflow-x: auto;
    padding-bottom: 4px;
}

.input {
    font-size: 1.6rem;
    padding: 4px 12px;
    margin-bottom: 24px;
    width: 100%;
    border: 1px solid #ccc;
    outline: none;
    border-radius: 7px;
}

.input:focus {
    border: 1px solid #181818;
}

.wrap {
    max-height: 344px;
    overflow-y: auto;
    position: relative;
}

.table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}

.table thead .examHeadItem {
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 1;
    text-align: center;
    padding: 8px;
    font-size: 1.6rem;
    box-shadow: inset 0 -1px 0 #ccc;
    box-sizing: border-box;
    color: #95AAC9; 

}

.table tbody .examBodyItem {
    text-align: center;
    padding: 10px;
    font-size: 1.5rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    box-sizing: border-box;
}


.examBody:nth-child(odd) {
    background-color: rgba(0, 0, 0, .08);
}

.examBodyItem:last-child {
    cursor: pointer;
}

.table tbody .examBodyItem:nth-child(3) {
    text-align: left;
}

.table thead .examHeadItem:nth-child(2),
.table thead .examHeadItem:nth-child(3) {
    cursor: pointer;
}

.examHeadItem.index,
.examBodyItem.index {
    width: 40px;
}

.examBodyItem.idTest,
.examHeadItem.idTest {
    width: 120px;
}

.examHeadItem.score,
.examBodyItem.score,
.examHeadItem.review,
.examBodyItem.review {
    width: 80px;
}


.wrap::-webkit-scrollbar {
    width: 6px;
}

.wrap::-webkit-scrollbar-thumb {
    background: #c1c1c1;
    border-radius: 10px;
}

.wrap::-webkit-scrollbar-thumb:hover {
    background: #888;
}
