
.table {
    table-layout: fixed;
    width: 100%;
    text-align: center;
}

.th {
    font-size: 1.6rem;
    padding-bottom: 6px;
    border-bottom: 1px dashed #ccc;
}

.td {
    font-size: 1.4rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 8px 0;
}