.practice {
    margin-top: 65px;
    position: relative;
}

.layout {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-left: 46px;
}

.practiceContent {
    padding-top: 35px;
    flex: 1;
    padding-right: 32px;
    margin-right: 250px;
    overflow-y: auto;
    height: calc(100vh - 65px);
    position: relative;
    z-index: 1;
}

.head {}

.practiceContent::-webkit-scrollbar {
    width: 6px;
}

.practiceContent::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

.practiceContent::-webkit-scrollbar-thumb {
    background: #c1c1c1;
    border-radius: 10px;
}

.practiceContent::-webkit-scrollbar-thumb:hover {
    background: #888;
}

.heading {
    font-size: 2rem;
    color: red;
    font-weight: 600;
}

.backBtn {
    border: 1px solid #ccc;
    background-color: white;
    border-radius: 8px;
    font-size: 1.4rem;
    padding: 6px 20px;
    margin-top: 24px;
}

.backBtn:hover {
    background-color: #e8e8e8;
}

.countDown {
    position: sticky;
    top: 32px;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
    pointer-events: none;
    z-index: 99999;
}

.time {
    background-color: #EAF4DD;
    border-radius: 12px;
    display: block;
    width: fit-content;
    padding: 4px 8px;
    color: #027654;
    font-size: 1.3rem;
    font-weight: 600;
    display: flex;
    align-items: center;
}

.time svg {
    margin-right: 5px;
}

.partTitle {
    font-size: 2rem;
    padding-bottom: 24px;
    font-weight: 600;
}

.wrapper {
    padding-bottom: 60px;
    position: relative;
    scroll-margin-top: 100px;
    padding-left: 20px;
}

.wrapper:not(:last-child)::after {
    content: "";
    margin: 20px 0;
    width: 60px;
    height: 1px;
    background-color: #ccc;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.title {
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 12px;
}

.questionNumber {
    font-size: 1.8rem;
    font-weight: 600;
}

.flag {
    border: 1px solid red;
    color: red;
    background-color: white;
    border-radius: 8px;
    padding: 4px 12px;
    font-size: 1.2rem;
}

.flag:hover {
    background-color: red;
    color: white;
}

.questionId {
    font-size: 1.4rem;
    font-weight: 600;
}

.content {
    padding-top: 12px;
}

.question {
    font-size: 1.6rem;
    padding: 8px 0;
}

.choices {}

.choice {
    display: flex;
    align-items: center;
    font-size: 1.6rem;
    padding: 6px 0;
    width: fit-content;
}

.choice {
    display: flex;
    align-items: center;
    font-size: 1.6rem;
    padding: 6px 0;
}

.choice input {
    margin-right: 8px;
}

.readonly {
    color: #8C98A4;
}

.choiceContent {
    display: flex;
    align-items: center;
}

.choiceContent.check {
    background-color: #ffcbcb;
}

.choiceContent.correct {
    background-color: #9affbc;
}

.choiceLabel {
    margin: 0 3px 0 0;
}

.trueFalseRow {
    display: flex;
    align-items: center;
}

.choiceRadio {
    margin: 0 12px;
}

.table {
    font-size: 1.6rem;
}

.table th,
.table td {
    padding: 12px 12px 12px 0;
    text-align: center;
}

.table td:first-child {
    text-align: left;
    width: 70%;
}

.choiceLabel {
    font-weight: bold;
    margin-right: 4px;
}

.correctAnswer {
    margin-top: 12px;
    font-size: 1.6rem;
    color: rgb(4, 186, 4);
}

.explainTitle {
    font-size: 1.6rem;
    padding: 12px 0 16px;
    cursor: pointer;
    color: #2c7be5;
}

.explainTitle:hover {
    color: #0559c5;
}

.explain {
    font-size: 1.6rem;
    padding: 6px 0;
}

.explainWrapper {
    display: none;
}
  
.show {
    display: block;
  }
  

.part3 {
    overflow-x: auto;
}

.part3Table {
    margin-top: 1rem;
}

.part3 tr {
    display: flex;
    align-items: center;
    padding: 6px 0;
}

.part3Text,
.part3Input,
.inputPart3 {
    padding: 0 4px;
    text-align: center;
    line-height: 0.54;
}

.practice input:hover {
    cursor: pointer;
}

.inputPart3:nth-child(2) input,
.inputPart3:nth-child(5) input {
    cursor: default;
    visibility: hidden;
}

.part3Text {
    font-size: 1.6rem;
    line-height: 0.8;
    width: 17px;
    margin-right: 4px;
}

.sideBar {
    position: fixed;
    right: 0;
    top: 65px;
    width: 250px;
    height: 100vh;
    background-color: #fff;
    padding: 16px;
    border-left: 1px solid #ddd;
    z-index: 999;
}

.navFlex {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 12px;
}

.navPartTitle {
    font-size: 1.6rem;
    font-weight: 600;
    margin-top: 24px;
}

.navWrapper {
    display: flex;
    gap: 10px
}


.navItem {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #eee;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    font-weight: 600;
    cursor: pointer;
    border: 1.6px solid #ccc;
    font-size: 1.6rem;
}

.navItem.answered {
    background-color: #62ea9b;
    border-color: #127b3e;
}

.navItem.incomplete {
    background-color: #fdff94;
    border-color: #f2a935;
}

.navItem.notStarted {
    background-color: #fff;
    border-color: #ccc;
}

.navItem.correct {
    background-color: #d4edda;
    border: 1px solid #28a745;
}
.navItem.wrong {
    background-color: #f8d7da;
    border: 1px solid #dc3545;
}

.flagDot {
    position: absolute;
    top: 2px;
    width: 5px;
    height: 5px;
    background-color: red;
    border-radius: 50%;
}

.submit {
    background-color: rgb(255, 0, 0);
    color: white;
    border-radius: 8px;
    font-size: 1.4rem;
    padding: 8px 20px;
    margin-top: 24px;
    width: fit-content;
    text-transform: uppercase;
    font-weight: 600;
}

.submit:hover {
    background-color: rgb(255, 49, 49);
    color: white;
    cursor: pointer;
}