.examDetail {
    padding-top: 12px;
}

.wrapper {
    box-shadow: 0px 2px 12px 0px rgba(0, 35, 67, .2);
    border-radius: 6px;
    padding: 24px;
    margin: 36px 0;
}

.wrap {
    display: flex;
    align-items: center;
}

.close {
    display: none;
}

.open {
    display: block;
}

.infor {
    display: flex;
    flex-direction: column;
}

.name {
    font-size: 1.6rem;
    padding-bottom: 12px;
}

#nameEdit {
    display: inline-flex;
    align-items: center;
    margin-left: 5px;
}

#nameEdit:hover {
    background-color: #e4f1fb;
    border-radius: 2px 2px 2px 2px;
    border: 1px solid #ccc;
    cursor: pointer;
}

#nameEdit svg {
    width: 16px;
    height: 16px;
    margin-left: 5px;
}

.detail {
    font-size: 1.4rem;
    color: #777777;
    margin-bottom: 12px;
}

.btnArea {
    position: relative;
    margin-bottom: -24px;
    background-image: url(/public/edit-test.svg);
    background-repeat: no-repeat;
    width: 294px;
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mBtn, .aBtn {
    display: block;
    padding: 6px 12px;
    font-size: 1.3rem;
    font-weight: 600;
    box-shadow: 0px 4px 12px 0px rgba(0, 35, 67, .2);
    border-radius: 6px;
    border: none;
    display: flex;
    align-items: center;
}

.mBtn {
    background-color: white;
    color: black;
}

.aBtn {
    background-color: red;
    color: white;
    
}

.icon {
    margin-right: 5px;
}
  
.fix {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
    font-size: 1.6rem;
}

.fixTitle {
    margin-right: 7px;
    width: 130px;
}

.wrap select {
    padding: 5px;
    font-size: 1.4rem;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.wrap input {
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
    padding: 5px;
    font-size: 1.4rem;
}

.wrap input:focus {
    border: 1px solid black;
}

.saveBtn {
    border-radius: 5px;
    border: none;
    padding: 6px 12px;
    margin-top: 24px;
    background-color: red;
    color: white;
    margin-right: 18px;
}

.backBtn {
    border-radius: 5px;
    border: none;
    padding: 6px 12px;
    margin-top: 24px;
    background-color: #ccc;
    color: black;
}